<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Forms Tutorial</title>
</head>
<body>
    <div align="center">
<h2>Hire Your Cleaner</h2>
<form method="post" action="/getdata/">
    <table>
        <tr>
            <td>Enter your name:</td>
            <td><input type="text" name="name" placeholde="Enter Name"/></td>
        </tr>
        <tr>
            <td>Enter your email:</td>
            <td><input type="email" name="email"/></td>
        </tr>
        <tr>
            <td>Enter your phone:</td>
            <td><input type="text" name="mob_num"/></td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button>Submit Form</button>
            </td>
        </tr>
    </table>
</form>
</body>
    </div>
</html>
